/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

@media (max-width: 1275px) {
  .gallery .col-small {
    width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .gallery .col-small:nth-child(2) {
    display: none;
  }
}

@media (max-width: 991px) {
  .about__text-block {
    padding: 40px 28px 30px;
  }
  .about__text-block img {
    margin-bottom: 20px;
  }
  .about__text-block .title-18 {
    margin-bottom: 12px;
  }
  .about__text-block p {
    margin-bottom: 8px;
  }
}

@media (max-width: 850px) {
  .gallery .col-small {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .gallery-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .col-small {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-big {
    height: 250px;
  }
  .row:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .row-2-big .col-big:last-child {
    display: none;
  }
  .about__text-block {
    padding: 60px 48px 50px;
  }
  .about__text-block img {
    margin-bottom: 20px;
  }
  .about__text-block .title-18 {
    margin-bottom: 18px;
    font-size: 16px;
  }
  .about__text-block p {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 680px) {
  .navigation li {
    padding: 5px 15px;
  }
  .header .logo {
    width: 72px;
    margin: 0 35px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 480px) {
  /* BURGER-MENU-STYLES */
  .burger-btn {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url('../images/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 8;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
    position: relative;
    top: -35px;
    left: -15px;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .navigation .logo {
    position: absolute;
    top: 19px;
    left: calc(-100% + 30px);
    margin: 0;
  }
  .navigation_active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .navigation_active .left-navigation,
  .navigation_active .right-navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
  }
  .navigation_active li,
  .left-navigation li:last-child,
  .right-navigation li:first-child {
    padding: 0;
  }
  .navigation_active ul a {
    padding: 30px;
    font-size: 16px;
  }
  .right-navigation li:first-child:before,
  .left-navigation li:last-child:after {
    display: block;
  }
  .navigation li:after,
  .navigation li:before {
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .burger-btn_active {
    background-image: url('../images/menu-close.svg');
  }
  /* BURGER-MENU-STYLES */

  body {
    font-size: 16px;
  }
  .section-big {
    padding: 65px 0 85px;
  }

  .about__text-block p {
    font-size: 14px;
  }
  .about__text-block {
    padding:60px 10px 50px;
  }

  .comments p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .gallery .col-small:not(:first-child) {
    display: none;
  }
  .gallery .col-small:first-child {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
  .gallery .col-small:first-child .gallery-item:first-child {
    display:none;
  }
}